h1 {color: darkblue;}
h2 {
    color: darkblue;
    font-style: italic;
}

body {
    background: #eeeeee;
    font-family: "Trebuchet MS", Verdana, Arial;
}

.detail {
    width:15%;
    float:left;
    margin-left:10px;
    height:100%
}

.map {
    background-color:#FFFFFF;
    float:left;
    margin-left:20px;
    width:60%;
    height:700px;
}

.description {
    margin-left:10px;
    float: left;
    width: 20%;
    height:100%
}
