@main("MAT") {
    <div>
        <div class="detail">
            <h1>Mat-Maps</h1>
            <h2>Beta</h2>
            <i>The Mind-Amplifying Tool</i>
            <br><br><hr><br><br>
            Move the mouse over the concept map for more info,
            or click the "New map" button to get started.
            <br><br><hr><br><br>
            <form action="new">
                <input type="button" value="New map">
            </form>
        </div>
        <div class="map" id="map">
            <!--
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1000 1000">
                <!--
                <circle cx="320" cy="320" r="300" stroke="red" stroke-width="2" fill="white" />
                <circle cx="320" cy="320" r="180" stroke="red" stroke-width="2" fill="white" />
                -->
         </div>
        <div id="nodeDescription" class="description">
            <div id="about" hidden="true">
                <h2>About Mat-Maps</h2>
                Source: <a href="https://github.com/kmork/mat.git">https://github.com/kmork/mat.git</a>
                <br><br>
                Knut Mork, 2013
            </div>
            <div id="MAT" hidden="true">
                <h2>MAT-Maps</h2>
                Free to use concept map tool (concept maps, topic maps, mind maps) to help structuring your thoughts on a complex topic.
            </div>
            <div id="examples" hidden="true">
                <h2>Various examples of concept maps</h2>
            </div>
    </div>

    <script language="javascript" type="text/javascript">
        var graph = Viva.Graph.graph();
        graph.addNode('MAT', "MAT-Maps");
        graph.addNode('about', 'About MAT-Maps');
        graph.addNode('examples', 'Various examples of concept maps');
        graph.addLink('MAT', 'about');
        graph.addLink('MAT', 'examples');

        var graphics = Viva.Graph.View.svgGraphics();

        var showNodeDescription = function(node, isOn) {
            document.getElementById(node.id ).hidden = !isOn;
//            if (isOn) {
//                document.getElementById(node.id).innerHTML = desc;
//            } else {
//                document.getElementById(node.id).innerHTML = '';
//            }
        }

        graphics.node(function(node) {
            var ui = Viva.Graph.svg('g'),
            svgText = Viva.Graph.svg('text').attr('dx', node.id.length * -4 + 'px').attr('dy', '5px').text(node.id),
            img = Viva.Graph.svg('ellipse')
            .attr('rx', 50)
            .attr('ry', 25)
            .attr("stroke", "black")
            .attr("stroke-width", 3)
            .attr("style", "fill:white");

            ui.append(img);
            ui.append(svgText);

            $(ui).hover(function() { // mouse over
            showNodeDescription(node, true);
            }, function() { // mouse out
            showNodeDescription(node, false);
            });

            return ui;
        }).placeNode(function(nodeUI, pos) {
            // 'g' element doesn't have convenient (x,y) attributes, instead
            // we have to deal with transforms: http://www.w3.org/TR/SVG/coords.html#SVGGlobalTransformAttribute
            nodeUI.attr('transform',
            'translate(' +
            (pos.x) + ',' + (pos.y) +
            ')');
        });
        var renderer = Viva.Graph.View.renderer(graph,
        {
            graphics : graphics,
            container: document.getElementById("map")
        });
        renderer.run();
    </script>

}
