@main("mat-maps") {
    <div class="container">

        <div class="content">
            <div class="page-header">
                <h1 class="span logo" style="margin-left: 0">mat-maps <span class="h1 small" style="color: #999999;font-size: 24.5px">beta</span></h1>
                <h1>&nbsp;<a class="btn btn-primary pull-right" href="/new"><i class="icon-pencil icon-white"></i> New map</a></h1>
            </div>
            <div class="row">
                <div class="span10" id="map">
                </div>
            </div>
        </div>

        <footer>
            <p>&copy; Knut Mork 2013</p>
        </footer>

    </div>

    <!--
    <p>
        Move the mouse over the concept map for more info,
        or click the "New map" button to get started.
    </p>
    <p>
        The FREE Concept Map Tool
    </p>
    <!--
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1000 1000">
            <!--
            <circle cx="320" cy="320" r="300" stroke="red" stroke-width="2" fill="white" />
            <circle cx="320" cy="320" r="180" stroke="red" stroke-width="2" fill="white" />
            -->
}
