@main("silly-maps") {
    <ul>
        <li id="slide1">
        </li>
        <li id="slide2">
            <h3 id="description-header"></h3>
                <div class="cbp-content" id="description-content">
                    <p>Chicory collard greens tatsoi cress bamboo shoot broccoli rabe lotus root earthnut pea arugula okra welsh onion leek shallot courgette. Chard garlic fava bean pea sprouts gram spinach plantain tomatillo. Chicory garlic black-eyed pea gourd chickpea cucumber lotus root.</p>
                    <p>Daikon artichoke gumbo azuki bean bok choy avocado winter purslane gram earthnut pea broccoli salsify squash plantain wattle seed wakame broccoli rabe bamboo shoot. Zucchini lotus root azuki bean epazote dulse pumpkin rutabaga spinach. Endive mung bean gumbo maize plantain rock melon.</p>
                </div>
        </li>
    </ul>
    <nav>
        <a href="#slide1"><img class="back" src="assets/images/back.png" height="50px" width="50px">&nbsp;&nbsp;Return to map</a>
        <a href="#slide2" id="node-description"></a>
    </nav>

    <script>
        var addSiteMap = function() {
            graph.addNode('silly-maps', {label: "silly-maps", description: "The FREE Concept Map Tool. Structure your thoughts on a complex topic by creating concept maps, topic maps, or mind maps of your knowledge."});
            graph.addNode('about', {label: 'about', description: 'About silly-maps'});
            graph.addNode('examples', {label: 'examples', description: 'Various examples of concept maps'});
            graph.addNode('feedback', {label: 'feedback', description: 'All feedback appreciated!'});
            graph.addNode('help', {label: 'help', description: 'Explains how to create your own maps'});
            graph.addLink('silly-maps', 'about');
            graph.addLink('silly-maps', 'examples');
            graph.addLink('silly-maps', 'feedback');
            graph.addLink('silly-maps', 'help');
            };

        $(document).ready(function(){
            addSiteMap();
            displayMap("slide1");
            $( '#map' ).cbpContentSlider();
        });
    </script>

    <!--
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1000 1000">
        <!--
        <circle cx="320" cy="320" r="300" stroke="red" stroke-width="2" fill="white" />
        <circle cx="320" cy="320" r="180" stroke="red" stroke-width="2" fill="white" />
    -->
}
