@(title: String, footer: Html = Html("&copy; Knut Mork 2013-2014"), javascripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@title</title>
        <meta name="description" content="The FREE Concept Map Tool">
        <meta name="author" content="Knut Mork">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tipsy.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/slider.css")"/>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="@routes.Assets.at("javascripts/lib/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lib/jquery.tipsy.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lib/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lib/vivagraph.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lib/modernizr.custom.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lib/jquery.cbpContentSlider.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/google-analytics.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/map.js")" type="text/javascript"></script>
        @javascripts
    </head>
    <body>
        <div class="container">

            <div class="content">
                <div class="page-header">
                    <h1 class="span logo" style="margin-left: 0"><a href="/">silly-maps </a><span class="h1 small" style="color: #999999;font-size: 24.5px">beta</span></h1>
                    <h1><form method="post">
                        <button formaction="/editmaps" type="submit" class="btn btn-primary pull-right">
                            <i class="icon-pencil icon-white"></i> New map</a>
                        </button>
                    </form>
                    </h1>
                </div>
                <div class="row">
                    <div class="span10 cbp-contentslider" id="map" >
                        @content
                    </div>
                </div>
            </div>

            <footer>
                <p>@footer</p>
            </footer>

        </div>
    </body>
</html>
