@main("mat-maps") {
    <div class="container">

        <div class="content">
            <div class="page-header">
                <h1 class="span logo" style="margin-left: 0"><a href="/">mat-maps </a><span class="h1 small" style="color: #999999;font-size: 24.5px">beta</span></h1>
                <h1>&nbsp;<a class="btn btn-primary pull-right" href="/new"><i class="icon-pencil icon-white"></i> New map</a></h1>
            </div>
            <div class="row">
                <div class="span10" id="newMap">
                </div>
            </div>
        </div>

        <footer>
            <p>&copy; Knut Mork 2013</p>
        </footer>

    </div>
}
